{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function build_charts(id, priceData, labels) {
            const ctx = document.getElementById('priceChart-' + id).getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Ціна товару',
                        data: priceData,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false // Вимикає легенду (де відображається label)
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true, // Початок осі X з 0
                            suggestedMax: Math.max(...priceData) * 1.4 // Оновлення максимуму динамічно
                        },
                    }
                }
            })
        }

        function toggleOrder(column) {
            const url = new URL(window.location.href);
            const currentOrder = url.searchParams.get('direction');
            const newOrder = currentOrder === 'asc' ? 'desc' : 'asc';
            url.searchParams.set('direction', newOrder);
            url.searchParams.set('ordered', column);
            window.location.href = url.toString(); // Переходимо на оновлену URL
        }
    </script>
{% endblock %}
{% block body %}
    <table class="table">
        <thead class="bg-light border-bottom sticky-top">
        <tr>
            <th>IMG</th>
            <th>ID</th>
            <th><a href="#" onclick="toggleOrder('name')">НАЗВА</a></th>
            <th>
                <a href="#" onclick="toggleOrder('last_price')">ЦІНА</a> &nbsp;
                <a href="#" onclick="toggleOrder('price_change')">(зміна)</a>
            </th>
            <th>ПАКУВАННЯ</th>
            <th>графік</th>
        </tr>
        </thead>
        <tbody>
        {% for object in items %}
            <tr class="{% if object.in_stock %}soldout{% endif %}">
                <td><img src="{{ object.img_src }}" height="200px"/></td>
                <td>{{ object.id }}</td>
                <td class="name"><a href="{{ object.url }}" target="_blank">{{ object.name }}</a></td>
                <td>
                    {% if object.prices %}
                        <span class="h4">{{ object.prices.0.price }} грн</span>
                        <span class="text-black-50">({{ object.price_change }})</span>
                    {% endif %}
                </td>
                <td>
                    {{ object.packaging }}
                </td>
                <td class="goods-chart">{% include 'components/price_chart.html' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}