<div>
на сторінці:
<select id="onlyChangedSelector">
    <option value="none" {% if not request.query_params.get('only_changed') %}selected{% endif %}>--</option>
    <option value="no_change" {% if request.query_params.get('only_changed') == 'no_change' %}selected{% endif %}>без змін</option>
    <option value="expensive" {% if request.query_params.get('only_changed') == 'expensive' %}selected{% endif %}>подорожчали</option>
    <option value="cheaper" {% if request.query_params.get('only_changed') == 'cheaper' %}selected{% endif %}>подешевшали</option>
</select>

<script>
    document.getElementById('onlyChangedSelector').addEventListener('change', function () {
        const only_changed = this.value;

        const url = new URL(window.location.href);
        // Update the `page_size` parameter in the URL
        if(only_changed === "none"){
            url.searchParams.delete("only_changed")
        }else{
            url.searchParams.set('only_changed', only_changed);
        }
        window.location.href = url.toString();
    });
</script>
</div>